#monaco-editor {
    float:right;
}

#filetree {
    height: 150px;
    overflow:scroll;
    width:40.5%;
}

.theme-dark {
    color: #ffffff;
    background: #1E1E1E;
}

.theme-black {
    color:#ffffff;
    background: #000000;
}

.theme-dark > ul.jqueryFileTree a {
    color: #ffffff;
}

.theme-black > ul.jqueryFileTree a {
    color: #ffffff;
}


#discussionbox
{
    height:300px;
    width:40.5%;
    border:1px solid grey;
    font:15px/20px Georgia, Garamond, Serif;
    overflow-y:auto;
    overflow-x:hidden;
    word-wrap:break-word;
}

#message
{
    resize:none;
    height:50px;
    width:40.5%;
    overflow-x:hidden;
}


#dialog label, #dialog input {
    display: block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}

#tabs {
    margin-top: 1em;
}

    #tabs li .ui-icon-close {
        float: left;
        margin: 0.4em 0.2em 0 0;
        cursor: pointer;
    }

.ui-tabs .ui-tabs-nav li a {font-size:7pt !important;}

#add_tab {
    cursor: pointer;
}

.tabcontent.ui-tabs-panel.ui-corner-bottom.ui-widget-content {
    position: absolute;
    display: none;
    visibility: hidden;
}

.user-editing-line {
	background: lightblue;
	width: 5px !important;
	left: 3px;
}

.user-editing-inline {
	background: rgb(128, 128, 128);
	width: 5px !important;
	left: 3px;
}

.collaborio-logo-purple {
    color: rgb(97, 73, 96);
}

.collaborio-logo-orange {
    color: rgb(255, 66, 52);
}

.collaborio-logo-blue {
    color: rgb(20, 129, 158);
}

.input-form{
    height: 34px;
    padding: 6px 12px;
    margin-bottom:7px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family:inherit;
}