#dialog label, #dialog input {
    display: block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}

#tabs {
    margin-top: 1em;
}

    #tabs li .ui-icon-close {
        float: left;
        margin: 0.4em 0.2em 0 0;
        cursor: pointer;
    }

.ui-tabs .ui-tabs-nav li a {font-size:7pt !important;}

#add_tab {
    cursor: pointer;
}

.tabcontent.ui-tabs-panel.ui-corner-bottom.ui-widget-content {
    position: absolute;
    display: none;
    visibility: hidden;
}

.user-editing-line {
	background: lightblue;
	width: 5px !important;
	left: 3px;
}

.user-editing-inline {
	background: rgb(128, 128, 128);
	width: 5px !important;
	left: 3px;
}

.collaborio-logo-purple {
    color: rgb(97, 73, 96);
}

.collaborio-logo-orange {
    color: rgb(255, 66, 52);
}

.collaborio-logo-blue {
    color: rgb(20, 129, 158);
}