#monaco-editor {
    float: right;
    height: 80vh;
    width: 75%;
    border: 1px solid grey;
}

body {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

#editor-body {
    max-width: 100%;
    max-height: 80%;
    margin-left: 0px;
    margin-right: 0px;
}

#filetree {
    width: 25%;
    height: 40vh;
    float: left;
    overflow: auto;
}

#filetree::-webkit-scrollbar {
    width: 12px;
}

#filetree::-webkit-scrollbar-track {
    border-radius: 0px;
}

#filetree::-webkit-scrollbar-thumb {
    background-color:dimgrey;
    border-radius: 0px;
}

#discussionbox::-webkit-scrollbar {
    width: 12px;
}

#discussionbox::-webkit-scrollbar-track {
    border-radius: 0px;
}

#discussionbox::-webkit-scrollbar-thumb {
    background-color:dimgrey;
    border-radius: 0px;
}
​
#tabs {
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0px;
}

#tabs ul{
    width: 100%;
    height: 25px;
    border: 0px;
}

.theme-dark {
    color: #ffffff;
    background: #1E1E1E;
}

.theme-black {
    color:#ffffff;
    background: #000000;
}

.theme-dark > ul.jqueryFileTree a {
    color: #ffffff;
}

.theme-black > ul.jqueryFileTree a {
    color: #ffffff;
}

#tabs.theme-dark ul {
    background: #1E1E1E;
}

#tabs.theme-black ul {
    background: #000000;
}

#tabs.theme-dark ul li:not(.ui-tabs-active) {
    background: #1E1E1E;
}

#tabs.theme-black ul li:not(.ui-tabs-active) {
    background: #000000;
}

#tabs.theme-dark ul li:not(.ui-tabs-active) a {
    background: #1E1E1E;
    color: #ffffff;
}

#tabs.theme-black ul li:not(.ui-tabs-active) a {
    background: #000000;
    color: #ffffff;
}


#discussionbox {
    min-width: 10px;
    height: 35vh;
    margin-top:5px;
    width:25%;
    border:1px solid grey;
    font:15px/20px Georgia, Garamond, Serif;
    overflow-y:auto;
    overflow-x:hidden;
    word-wrap:break-word;
}

#message {
    height: 5vh;
    min-width: 10px;
    resize:none;
    width:25%;
    overflow-x:hidden;
}


#dialog label, #dialog input {
    display: block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}

#tabs {
    margin-top: 1em;
}

#tabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

.ui-tabs .ui-tabs-nav li a {font-size:7pt !important;}

#add_tab {
    cursor: pointer;
}

.tabcontent.ui-tabs-panel.ui-corner-bottom.ui-widget-content {
    position: absolute;
    display: none;
    visibility: hidden;
}

.user-editing-line {
	background: lightblue;
	width: 5px !important;
	left: 3px;
}

.user-editing-inline {
	background: rgb(128, 128, 128);
	width: 5px !important;
	left: 3px;
}

.collaborio-logo-purple {
    color: rgb(97, 73, 96);
}

.collaborio-logo-orange {
    color: rgb(255, 66, 52);
}

.collaborio-logo-blue {
    color: rgb(20, 129, 158);
}

.input-form {
    height: 34px;
    padding: 6px 12px;
    margin-bottom:7px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family:inherit;
}

.input-group-btn button {
    border: none;
}

#invite-modal-header {
    width: 100%;
    margin-bottom: 10px;
}

#invite-modal-header input, #invite-modal-header select {
    width: 49%;
}

#invite-modal-header > div {
    height: 40px;
}

#addSingleUser {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -10px;
    margin-bottom: 5px;
    padding-top: 8px;
}

#edit-permission-select {
    width: 80%;
    margin-left: -5px;
}

#addUserButton {
    cursor: pointer;
}

#collaboratorList, .modal-body h2 {
    margin-left: 15px;
}

#filePostBtn {
    margin-top: 20px;
    margin-left: 170px;
    border-radius: 4px;
}

#add-file {
    width: 300px;
}