body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
{
    max-width: 280px;
}

.jumbotron{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron *{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.jumbotron + .row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#featureList {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border: 2px dashed RGB(97,73,96) ;
    border-radius: 20px;
}

#featureList .col-md-4 {
    width: 500px;
}

#featureList h2 {
    margin: auto;
}

#featureList h2 span:first-of-type{
    color: RGB(20,129,158);
}

#featureList h2 span:last-of-type {
    color: RGB(255,66,52);
}

.account-form{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 30%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    border: 2px dashed RGB(97,73,96) ;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.account-form * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.account-form label{
    margin:inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-form input[type=submit]{
    margin-top: 20px;
    padding: 10px;
    align-items: center;
}

.account-form h2 {
    margin-top: 20px;
}

.logo {
    height: 40px;
    margin-top: 9px;
}

.navbar {
    background-color: #29303d;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(255,255,255);
    font-weight: 500;
}

.navbar-brand {
    background-image: url('../Icons/CollaborioLogo.png');
    width: 300px;
    height: 50px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px;
}

#loginForm .loginFrontPage{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 20%;
    margin: auto;
}

#loginForm .loginFrontPage form-control{
    display: block;
    width: 100%;
}

#front-page-login-button{
    display: block;
    width: 50%;
    margin-top: 50px;
}

.form-group{
    width: 100%;
    margin-top: 20px;
}

.form-group label{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control{
    width: 100%;
    margin: auto;
}

.form-group .btn{
    width: 50%;
    margin: auto;
    background-color: lightgrey;
}

.registration-fields{
    display: flex;
    flex-direction: row;
}

#registration-fields .col-md-10{
    width: 100%;
}

.col-md-10 .form-control{
    margin: 0;
}

#main{
    display: flex;
}

body-content{
    margin: auto;
}
