body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
{
    max-width: 280px;
}

.jumbotron{
    background-color: transparent;
}

.jumbotron *{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.jumbotron + .row
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.loginFrontPage{
    margin: auto;
    width: 40%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    border: 2px solid grey;
    padding-left: 50px;
    padding-right: 50px;
}

.loginFrontPage * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.loginFrontPage label{
    margin:inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: #062F4F;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(255,255,255);
    font-weight: 500;
}

.navbar-brand {
    background-image: url('../Icons/CollaborioLogo.png');
    width: 300px;
    height: 50px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px;
}

.form-group{
    width: 100%;
}

.form-control{
    width: 80%;
    margin: auto;
}

.checkbox-frontpage{
    width: 40%;
    padding: 10px;
    flex-direction: row;
}

.checkbox-frontpage *{
    display: inline;
    position:relative;
    background-color: blue;
    float: clear;
    margin: 2px;
}


.form-group .btn{
    width: 50%;
    margin: auto;
    background-color: lightgrey;
}

#main{
    display: flex;
}

body-content{
    margin: auto;
}

#monaco-editor {
    float:right;
}

#filetree {
    height: 150px;
    overflow:scroll;
}

#discussionbox
{
    margin-top:5px;
    height:300px;
    width:340px;
    border:1px solid grey;
    font:15px/20px Georgia, Garamond, Serif;
    overflow-y:auto;
    overflow-x:hidden;
    word-wrap:break-word;
}

#message
{
    resize:none;
    height:50px;
    width:340px;
    overflow-x:hidden;
}
