body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron{
    background-color: transparent;
}

.jumbotron *{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



#loginForm {
    
}

.loginFrontPage{
    margin: auto;
    width: 40%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    border: 2px dotted grey;
}

.loginFrontPage input, .loginFrontPage label {
    width: 100%;
    display: block;
    margin: auto;
}

.checkbox *{
    display: inline;
    width: 40%;}

#main{
    display: flex;
}

#monaco-editor {
    float:right;
}

#filetree {
    height: 600px;
}
