

@using Microsoft.AspNet.Identity
@using VLN2_H27.Models

@model RegisterViewModel

<!-- Register button to trigger modal -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Register</button>

<!-- Modal container -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register new user</h4>
            </div>
            <div class="modal-body">
                <p>Hérna kemur HTML</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>