
<!--Getting fontawesome-->
<script src="https://use.fontawesome.com/5646c05ef4.js"></script>

@using VLN2_H27.Models
@model Project_Users_Relations
<!-- Modal container -->
<div id="addUsersModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Collaborators</h4>
            </div>
            <div class="modal-body">

                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" id ="userToAdd" class="form-control" placeholder="Enter username">
                        <span>
                            <select id="editPermissionSelect">
                                <option editPermissionValue="true">Edit permission</option>
                                <option editPermissionValue="false">View-only permission</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" id="addSingleUser" type="button">Add</button>
                        </span>
                    </div>
                    <p id="userAddError">No such user exists!</p>
                </div>

                <h2>Current Collaborators</h2>
                
                <div id="collaboratorList">                    

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
