
@{
    ViewBag.Title = "editor";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">


    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="../../jQueryFileTree/dist/jqueryFileTree.min.css">
    <link rel="stylesheet" href="css/jqft-test.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/atelier-cave.light.min.css">

</head>
<body>
    <!-- Editor language/mode picker -->
    <label class="control-label">Language</label>
    <select class="language-picker"></select>

    <!-- Editor theme picker -->
    <label class="control-label">Theme</label>
    <select class="theme-picker">
        <option>Visual Studio</option>
        <option>Visual Studio Dark</option>
        <option>High Contrast Dark</option>
    </select>

    <!-- Monaco editor window -->
    <div id="monaco-editor" class="editor" style="width:800px;height:600px;border:1px solid grey"></div>

    <!-- File tree applet -->
    <div id="filetree" class="filetree" style="border:1px solid grey"></div>

    <!-- Load Monaco Editor -->
    <script src="../../Monaco/dev/vs/loader.js"></script>
    <!-- <script src="../../Monaco/dev/vs/editor/editor.main.nls.js"></script>
    <script src="../../Monaco/dev/vs/editor/editor.main.js"></script>  -->

    <!-- Load jQueryFileTree -->
    <script src="../../jQueryFileTree/dist/jQueryFileTree.min.js"></script>

    <!-- JS CODE GOES HERE -->
    <script data-inline="yes-please" src="../../Scripts/EditorScripts.js" type="text/javascript"></script>
</body>