@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://i.gyazo.com/5d9023be60157b12264527678bb6581b.png" alt="Collab code edit" />
    <h2>Together we can accomplish some things!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ul>
            <li>Collaborate with your friends to create the program of your dreams - together!</li>
            <li>Do your phone-interviews with your potential hires in an environment they'll feel right at home in.</li>
            <li>Teach your students all they need to know - live.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="https://i.gyazo.com/9a10699904f3e9835b280bf1e327d399.png" alt="Collaborate and create together" />
    </div>

</div>