@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../../Icons/collaborioLogoLarge.png" alt="Collabor.io" />
    <h2>Together we can accomplish some things!</h2>
</div>

<div class="row" id="featureList">
    <div class="col-md-4">
        <h2><span>Collaborate</span> and <span>create</span>!</h2>
        <ul>
            <li>Collaborate with your friends to create the program of your dreams - together!</li>
            <li>Do your phone-interviews with your potential hires in an environment they'll feel right at home in.</li>
            <li>Teach your students all they need to know - live.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="../../Icons/pointClick.png" alt="Collaborate and create together" />
    </div>
</div>
<div id="front-page-buttons">
    <input class="front-page-button" id="register-button-front" type="button" onclick="window.location.href='../Account/Register'" value="Sign up"/>
    <input class="front-page-button" id="login-button-front" type="button" onclick="window.location.href='../Account/Login'" value="Log in" />
</div>

@using VLN2_H27.Models